table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid #ccc;
    text-align: center;
    height: 30px;
    padding: 6px;
}

table th h2,
table th p {
    margin: 0px;
}
table th p {
    opacity: 0.4;
}

table td:first-child,
table td:last-child {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

table td:first-child {
    text-align: left;
}

table td:nth-child(n + 2) {
    width: 50px;
}

table td:last-child {
    width: 70px;
}

.form {
    width: calc(100% - 20px);
    height: auto;
    border-radius: 6px;
    box-shadow: 0px 2px 6px #ccc;
    margin: 30px auto;
    padding: 20px;
}

.form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form input {
    height: 40px;
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form button {
    background-color: rgb(233, 233, 233);
}
