.content-ctn {
    margin-top: 60px;
}

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.tab-container button {
    margin: 0px 6px;
}
